---
// No props needed
---

<footer
  class="mt-20 text-muted text-sm items-center justify-center flex w-full h-full animate-fade-up animation-delay-400"
>
  <p class="max-w-md">
    Written line by line in
    <a
      href="https://code.visualstudio.com/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Visual Studio Code (opens in a new tab)">Visual Studio Code</a
    > by yours truly, brought to life with
    <a
      href="https://astro.build/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Astro (opens in a new tab)">Astro</a
    >
    and
    <a
      href="https://tailwindcss.com/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Tailwind CSS (opens in a new tab)">Tailwind CSS</a
    >, then launched into the stratosphere via
    <a
      href="https://workers.cloudflare.com/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Cloudflare Workers (opens in a new tab)">Cloudflare Workers</a
    >.
    <br /><br />
    <em class="font-serif italic text-base"
      >Inspired by the brilliance of&nbsp;</em
    >
    <a
      href="https://brittanychang.com/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Brittany Chang (opens in a new tab)">Brittany Chang</a
    >,
    <a
      href="https://paco.me/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Paco Coursey (opens in a new tab)">Paco Coursey</a
    >
    <em class="font-serif italic text-base">and</em>
    <a
      href="https://antfu.me/"
      class="font-medium text-secondary hover:text-accent focus-visible:text-accent transition-colors"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Anthony Fu (opens in a new tab)">Anthony Fu</a
    >.
  </p>
</footer>
