---
import Layout from "@/layouts/Layout.astro";
import ArchiveTable from "@/components/ArchiveTable.astro";
---

<Layout title="Mohd Zaid | Projects Archive">
  <main>
    <ArchiveTable />
  </main>
</Layout>
