---
import About from "@/components/About.astro";
import Education from "@/components/Education.astro";
import Experience from "@/components/Experience.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Projects from "@/components/Projects.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Mohd Zaid | Full Stack Engineer">
  <main>
    <Header />
    <About />
    <Experience />
    <Projects />
    <Education />
    <Footer />
  </main>
</Layout>
