---
import About from "@/components/home-page/About.astro";
import Education from "@/components/home-page/Education.astro";
import Experience from "@/components/home-page/Experience.astro";
import Footer from "@/components/home-page/Footer.astro";
import Header from "@/components/home-page/Header.astro";
import Projects from "@/components/home-page/Projects.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Mohd Zaid | Full Stack Engineer">
  <main>
    <Header />
    <About />
    <Experience />
    <Projects />
    <Education />
    <Footer />
  </main>
</Layout>
