---
// No props needed for this static component
---

<div
  class="mask-gradient opacity-90 fixed inset-0 bg-gradient-to-b from-background to-transparent h-[75px] md:h-[96px] w-full z-20 backdrop-blur-xs pointer-events-none"
  aria-hidden="true"
>
</div>
