---
// No props needed
---

<section id="contact" class="text-center">
  <h2
    class="numbered-heading text-2xl font-semibold mb-4 flex items-center justify-center font-serif"
  >
    Get In Touch
  </h2>
  <p class="max-w-md mx-auto text-dark-text-secondary mb-6">
    I'm currently open to new opportunities. Feel free to reach out, and I'll
    get back to you!
  </p>
  <a
    href="mailto:hello@example.com"
    class="inline-block bg-dark-accent-light text-dark-accent font-medium py-3 px-6 rounded-lg hover:ring-2 hover:ring-dark-accent transition-all"
    >Say Hello</a
  >
</section>
