---
// No server-side code needed
---

<div
  id="blob"
  class="pointer-events-none select-none fixed inset-0 z-30 transition duration-300 lg:absolute"
>
</div>

<style>
  #blob {
    background: radial-gradient(
      600px at var(--x) var(--y),
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
  }
</style>

<script>
  const blob = document.getElementById("blob");

  function isLargeScreen() {
    return window.matchMedia("(min-width: 1024px)").matches;
  }

  window.addEventListener("pointermove", (event) => {
    if (isLargeScreen()) {
      const { pageX, pageY } = event;

      // Update the CSS variables with the correct coordinates
      blob!.style.setProperty("--x", pageX + "px");
      blob!.style.setProperty("--y", pageY + "px");
    } else {
      blob!.style.setProperty("--x", "0");
      blob!.style.setProperty("--y", "0");
    }
  });
</script>
